<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#133b5c"/>
    <link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Dancing+Script:wght@400;500;600;700&family=Montez&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Foodie</title>
</head>
<body>

    <nav class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">Foodie</h1>
            <a class="navbar__skipToContent" href="#/restaurants">Skip to Content &#9654;</a>

            <ul class="navbar__links">
                <li><a class="navbar__link" href="#/home">Home</a></li>
                <li><a class="navbar__link" href="#/favorite">Favorite</a></li>
                <li><a class="navbar__link" href="https://delphicgen.github.io/Personal-Website-V1/">About Us</a></li>    
            </ul>

            <button class="navbar__hamburger">
                <div class="navbar__line"></div>
                <div class="navbar__line"></div>
                <div class="navbar__line"></div>
            </button>
        </div>

        <ul class="navbar__links2">
            <li><a class="navbar__link2" href="#/home">Home</a></li>
            <li><a class="navbar__link2" href="#/favorite">Favorite</a></li>
            <li><a class="navbar__link2" href="https://delphicgen.github.io/Personal-Website-V1/">About Us</a></li>    
        </ul>

    </nav>

    <main id="mainContent"><h4 class="loadingIndicator">Loading Data</h4></main>

    <footer>
        Copyright © 2020 - Foodie
    </footer>
    
</body>
</html>
